@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #0df259;
  --color-background-light: #f5f8f6;
  --color-background-dark: #102216;

  --radius-custom: 1rem;
  --radius-custom-lg: 2rem;
  --radius-custom-xl: 3rem;
}

:root {
  --background: #f5f8f6;
  --foreground: #102216;
}

.dark {
  --background: #102216;
  --foreground: #f5f8f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}